:root {
    --body-background-color: hsl(240, 3%, 7%);
    --key-background-color: hsl(200, 1%, 51%);
    --key-hover-focus: hsl(200, 1%, 61%);
    --key-wrong: hsl(200, 1%, 23%);
    --key-wrong-hover-focus: hsl(200, 1%, 33%);
    --key-wrong-location: hsl(49, 51%, 47%);
    --key-wrong-location-hover-focus: hsl(49, 51%, 57%);
    --key-correct: hsl(115, 29%, 43%);
    --key-correct-hover-focus: hsl(115, 29%, 53%);
    --font-color: white;
    --grid-border-and-wrong-status: hsl(240, 2%, 23%);
    --tile-status-active-border-color: hsl(200, 1%, 34%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--body-background-color);
    color: var(--font-color);
    font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.keyboard {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(20, minmax(auto, 1.5em));
    grid-template-rows: repeat(3, 3em);
    gap: 0.4em;
}

.key {
    font-size: inherit;
    grid-column: span 2;
    border-radius: 0.25em;
    background-color: var(--key-background-color);
    color: var(--font-color);
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-transform: uppercase;
}

.key.large {
    grid-column: span 3;
}

.key:hover,
.key:focus {
    background-color: var(--key-hover-focus);
}

.key.wrong {
    background-color: var(--key-wrong);
}

.key.wrong-location:hover,
.key.wrong-location.key:focus {
    background-color: var(--key-wrong-location-hover-focus);
}

.key.wrong-location {
    background-color: var(--key-wrong-location);
}

.key.correct:hover,
.key.correct.key:focus {
    background-color: var(--key-correct-hover-focus);
}

.key.correct {
    background-color: var(--key-correct);
}

.key.wrong:hover,
.key.wrong.key:focus {
    background-color: var(--key-wrong-hover-focus);
}

.key>svg {
    height: 1.5em;
    width: 1.5em;
}

.guess-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    flex: 1;
    gap: 0.4em;
    grid-template-columns: repeat(5, 4em);
    grid-template-rows: repeat(6, 4em);
    margin-bottom: 1em;
}

.tile {
    font-size: 2em;
    color: var(--font-color);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    user-select: none;
    border: solid 0.025em var(--grid-border-and-wrong-status);
}

.tile[data-status="active"] {
    border-color: var(--tile-status-active-border-color);
}

.tile[data-status="wrong"] {
    background-color: var(--key-wrong);
    border: none;
}

.tile[data-status="wrong-location"] {
    background-color: var(--key-wrong-location);
    border: none;
}

.tile[data-status="correct"] {
    background-color: var(--key-correct);
    border: none;
}


@media (max-width: 1007px) {
    .keyboard {
        grid-template-rows: repeat(3, 5em);
    }

    .guess-grid {
        grid-template-columns: repeat(5, 5em);
        grid-template-rows: repeat(6, 5em);
    }
}
@media (max-width: 640px) {
    .keyboard {
        grid-template-rows: repeat(3, 6em);
    }

    .guess-grid {
        grid-template-columns: repeat(5, 6em);
        grid-template-rows: repeat(6, 6em);
    }
}
